<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sitio web de CodeLabs">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Marx Von Jentschyk Ossandon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeLabs | Desarrollo de aplicaciones web</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <nav>
            <img src="/assets/logotipo1.svg" alt="Logotipo de CodeLabs">
        </nav>
    </header>
    <main>
        <!-- seccion principal -->
        <section class="container-section-1">
            <article class="container-header">
                <h1>Welcome to CodeLabs</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquam,
                </p>
                <a class="Contactanos" href="#Contacto">Contactanos</a>
            </article>
            <article class="container-header2">
                <img src="/assets/undraw-websites.svg" alt="imagen representativa">
            </article>

        </section>
        <article class="container-ola">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#0256a488"></stop><stop offset="95%" stop-color="#0f8afd88"></stop></linearGradient></defs><path d="M 0,400 C 0,400 0,133 0,133 C 98.47846889952152,105.58373205741627 196.95693779904303,78.16746411483254 304,87 C 411.04306220095697,95.83253588516746 526.6507177033493,140.91387559808612 625,150 C 723.3492822966507,159.08612440191388 804.4401913875598,132.17703349282297 896,129 C 987.5598086124402,125.82296650717703 1089.5885167464116,146.377990430622 1182,151 C 1274.4114832535884,155.622009569378 1357.2057416267942,144.311004784689 1440,133 C 1440,133 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#0256a4ff"></stop><stop offset="95%" stop-color="#0f8afdff"></stop></linearGradient></defs><path d="M 0,400 C 0,400 0,266 0,266 C 94.3732057416268,269.7607655502392 188.7464114832536,273.52153110047846 287,262 C 385.2535885167464,250.47846889952152 487.38755980861254,223.67464114832538 573,227 C 658.6124401913875,230.32535885167462 727.7033492822967,263.7799043062201 825,277 C 922.2966507177033,290.2200956937799 1047.799043062201,283.2057416267943 1155,278 C 1262.200956937799,272.7942583732057 1351.1004784688994,269.39712918660285 1440,266 C 1440,266 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>
        </article>
        <!-- seccion secundario -->
        <section class="section-service">
            <article class="article-service">
                <img src="/assets/web.svg" alt="imagen representativa">
                <h2>Desarrollo web</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati facilis officia iure enim nam pariatur reiciendis, eum hic eaque ad excepturi nobis earum libero praesentium ipsa necessitatibus, id error aspernatur!</p>

            </article>
            <article class="article-service">
                <img src="/assets/web.svg" alt="imagen representativa">
                <h2>Desarrollo de aplicaciones web</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati facilis officia iure enim nam pariatur reiciendis, eum hic eaque ad excepturi nobis earum libero praesentium ipsa necessitatibus, id error aspernatur!</p>

            </article>
        </section>
        <!-- portafolios -->
        <section>
            <article>
                <img src="" alt="">
                <p></p>
            </article>
        </section>
        <!-- concacto -->
        <section class="section-contacto" id="Contacto">
            <h3>Contactanos</h3>
            <form action="/" method="post">
                <input type="text" placeholder="Nombre" name="user">
                <input type="email" placeholder="Correo" name="email">
                <input type="number" placeholder="Telefono" name="tel">
                <textarea name="description" placeholder="Cuentanos tu idea"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <ul>
            <li>Conocenos</li>
            <li>Portafolio</li>
        </ul>
    </footer>
</body>

</html>