<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud enviada con exito</title>
    <link rel="stylesheet" href="/css/revision.css">
</head>

<body>
    <header>
        <nav>
            <img src="/assets/logotipo1.svg" alt="Logotipo de CodeLabs">
        </nav>
    </header>
    <section>
        <article>
            <h1>Tu solicitud se ingreso correctamente</h1>
            <div>
                <a href="/">
                    <i></i> Volver a CodeLabs</a>
            </div>

        </article>
    </section>
    <footer>
        <ul>
            <li>Conocenos</li>
        </ul>
    </footer>
</body>

</html>